@mixin block($color) {
    border: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    padding: 14px 10px;
    outline: none;
    border-radius: 24px;
    background: $color;
}

@mixin input {
    @include block($input-bg);
    width: 200px;
    font-size: 20px;
    transition: 0.25s;
    opacity: 0.8;
}

@mixin font {
    font-family: $font;
    font-weight: bold; 
    text-transform: uppercase;
    color: $font-color;
}

@mixin button {
    @include block(transparent);
    @include font;
    width: 280px;
}