$font: Arial, Helvetica, sans-serif;
$prime-color: rgba(4, 0, 130, 0.4);
$font-color: #dfe4ea;
$error-color: #b33939;
$input-bg: linear-gradient(-45deg, #1B1464 65%, #8e44ad);
$input-bg-focused: linear-gradient(-45deg, #1B1464 15%, #8e44ad 90%);
$button-color: #05eb93;